fastapi==0.115.12
python-multipart==0.0.20
pydantic==2.11.10
pydantic-core==2.33.2
sqlalchemy==1.4.52
greenlet==3.1.1
uvicorn==0.33.0
pymysql==1.1.1
alembic==1.14.1
pytest==8.3.5
ruff==0.11.13
aurora==0.6.1
simpeg==0.25.2
httpx==0.28.1
PyJWT==2.8.0
bcrypt==4.1.2
celery[redis]==5.4.0
redis==5.2.1
